<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing Page</title>
        <meta name="description" content="Landing page of the CPA MMA website.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/{{css}}">
    </head>
    <body>
        <div id="navbar">
            <h1>Castle Point Analytics</h1>
            <!-- hide these links when a user is logged in -->
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            <!-- Show this when a user is logged in -->
            <span id="greeting" hidden></span>
        </div>
        {{{body}}}
        <script src="public/js/validateMatchUp.js"></script>
    </body>
</html>
