<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <meta name="description" content="Landing page of the CPA MMA website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/css/{{#if css}}{{css}}{{else}}landing.css{{/if}}">
</head>

<body>
    <div id="navbar">
        <h1><a href="/">Castle Point Analytics</a></h1>
        <!-- hide these links when a user is logged in -->
        {{#if notLoggedIn}}
        <a id="navLogin" href="/login">Login</a>
        <a id="navSignup" href="/signup">Signup</a>
        {{else}}
        <a id="navProfile" href='/login'>Profile</a>
        <a id="navLogout" href="/logout">Logout</a>
        {{/if}}
        <a id="navForums" href="/messages">Forums</a>
        <a id="navForums" href="/fullCardDistributions">Betting Strategy</a>
        <!-- Show this when a user is logged in -->
        <span id="greeting" hidden></span>
    </div>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/user/dynamicUser.js"></script>

</body>



</html>
