<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing Page</title>
        <meta name="description" content="Landing page of the CPA MMA website.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/landing.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
