.error {
    color: rgb(197, 0, 0);
}
div {
    border: thin solid black;
    border-radius: 5px;
    padding: 1%;
}

p {
    text-indent: 40px;
}

select {
    width: 175px;
}

#noUpcoming {
    text-align: center;
    text-indent: 0;
}
