#title {
    text-align: center;
}
.bouts {
    text-align: center;
}
.column {
    float: left;
}
.left,
.right {
    width: 40%;
}
.middle {
    width: 20%;
}
.error {
    color: rgb(197, 0, 0);
}
div {
    border: thin solid black;
    border-radius: 5px;
    padding: 1%;
}
h1 {
    display: inline;
}

p {
    text-indent: 40px;
}

select {
    width: 175px;
}

#noUpcoming {
    text-align: center;
    text-indent: 0;
}
