<div class="row">
    <div class="col-sm-12">
        <h2>Login</h2>
        <form id="login-form" method="POST" action="/login">
            <div class="form-group">
                <label for="username">
                    Username
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        class="full-width-input"
                        id="username"
                    />
                </label>
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        class="full-width-input"
                        id="password"
                    />
                </label>
            </div>
            {{#if failedLogin}}
                <p class="error">Incorrect username or password.</p>
            {{/if}}
            <button type="submit">Submit</button>
        </form>
        <script src="/public/js/user/loggingIn.js"></script>
    </div>
</div>