<div class="row">
    <div class="col-sm-12">
        <form id="login-form" method="POST" action="/signup">
            <div class="form-group">
                <label>
                    First Name
                    <input type='text' name='firstName' placeholder="Username" class="full-width-input">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Last Name
                    <input type='text' name='lastName' placeholder="Username" class="full-width-input">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Age
                    <input type='text' name='age' placeholder="Username" class="full-width-input">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Country
                    <input type='text' name='country' placeholder="Username" class="full-width-input">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Username
                    <input type='text' name='username' placeholder="Username" class="full-width-input">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password
                    <input type='text' name='password' placeholder="Password" class="full-width-input">
                </label>
            </div>
            <button type="submit">Submit</button>

        </form>
        {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>