<div class="row">
    <div class="col-sm-12">

        <form id="login-form" method="POST" action="/signup">
            {{#if error}}
            <h2>Invalid Sign Up Data</h2>
            {{/if}}
            {{#if usernameNotUnique}}
            <h2>Username is already taken</h2>
            {{/if}}
            <div class="form-group">
                <label>
                    First Name
                    <input type='text' name='firstName' placeholder="First Name" class="full-width-input" id="signUpFirstName">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Last Name
                    <input type='text' name='lastName' placeholder="Last Name" class="full-width-input" id="signUpLastName">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Age

                    <input type='number' name='age' placeholder="Age" class="full-width-input" id="signUpAge">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Country
                    <select id="countrySelection" name="country">
                        <option value="default" selected disabled hidden>Select Country</option>
                        {{#each countries}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Username
                    <input type='text' name='username' placeholder="Username" class="full-width-input" id="signUpUsername">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password
                    <input type='password' name='password' placeholder="Password" class="full-width-input" id="signUpPassword">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Re-Enter Password
                    <input type='password' name='re-entered password' placeholder="Re-Enter Password" class="full-width-input" id="signUpPasswordAgain">
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
        <script src="/public/js/user/signUpValidation.js"></script>
    </div>
</div>