#title {
    text-align: center;
}
#navbar {
    border: none;
    background-color: black;
    border-radius: 5px;
    padding: 1%;
}
#navbar * {
    color: white;
}

.message{
    border: lightgray solid 2px;
    width: 21%;
    border-radius: 5px;
    margin: 10px;
}

.username{
    color: #89cff0;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
}

.text{
    font-size: 17px;
    padding-left: 5px;
}

.time{
    font-style: italic;
    padding-left: 5px;
}

h4{
    margin-bottom: 20px;
    margin-top: 20px;
}

.links{
    background-color: lightgray;
    padding-left: 5px;
}

.editLink{
    margin-right: 2px;
}